input.ng-invalid.ng-touched{
  border-bottom: 3px solid tomato;
}

input.ng-valid.ng-touched{
  border-bottom: 3px solid lightgreen;
}

.error{
  color: tomato;
  font-size: 12px;
}

.red-text {
  color: tomato;
}

.form-control {
  background-color: rgba(245, 245, 245, 0.635);
}

.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
  border-color: transparent;
}

.form-floating label {
  color: #888888;
}

.bg_label {
  left: 10px;
}
