.nav__name {
  font-size: 2rem;
  font-weight: 600;
  align-self: self-start;
}

.nav__name--surname {
  font-weight: 100;
}

.nav__nickname {
  font-size: 1rem;
  font-weight: 100;
  align-self: self-start;
}

.nav__description--title {
  font-size: 1rem;
  font-weight: 400;
}

.nav__description {
  font-size: 0.8rem;
}

.nav__location {
  font-weight: 400;
}

.nav__anchor {
  text-decoration: none;
  color: black;
}

.social {
  margin-top: 30px;
}

.btnPosition {
  right: -15px;
}

.bi-door-open,
.nav__anchor,
li a {
  transition: 0.3s;
}

.bi-door-open:hover,
.nav__anchor:hover,
li a:hover {
  color: #FFC007;
}

@media screen and (max-width: 390px) {
  .btnPosition {
    right: 20px;
  }
  img {
    min-width: 40px;
  }
}

