<header class="p-0 m-0" [ngClass]="{'col-6 col-xl-2': sidebarVisible, 'headerWidth': !sidebarVisible}">
  <app-sidebar class="sticky-top" (sidebarChange)="hiddenSidebar($event)"></app-sidebar>
</header>
<div class="col d-flex flex-column">
  <main class="vh-100 d-flex flex-column justify-content-center align-items-center">
    <h1>¡En creación!</h1>
    <img src="../assets/construccion.png" alt="in works" class="img-fluid" height="300px">
  </main>
  <app-footer class="sticky-bottom d-flex align-items-center justify-content-center pb-2"></app-footer>
</div>
