header {
  max-width: 320px;
}

.headerWidth {
  max-width: 120px;
}

.marginMain {
  margin-left: 320px;
}

.noMargin {
  margin-left: 120px;
}

@media screen and (max-width: 480px) {
  header {
    max-width: 100%;
  }
  .headerIndex{
    max-width: 50px;
  }
  .headerWidth {
    max-width: 50px;
  }
  .marginMain {
    margin-left: auto;
  }
  .noMargin {
    margin-left: 50px;
  }
  app-footer {
    display: flex;
    flex-direction: column;
  }
}
