/* BOOSTRAP ICONS */
@import "~bootstrap-icons/font/bootstrap-icons.css";

/* MENU TOOLTIP TIPPI */
@import 'tippy.js/dist/tippy.css';
/** Arrow */
@import 'tippy.js/dist/svg-arrow.css';
/** Themes */
@import 'tippy.js/themes/light-border.css';
@import 'tippy.js/themes/light.css';
@import 'tippy.js/themes/material.css';
@import 'tippy.js/themes/translucent.css';

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.body {
  background-color: rgb(234, 234, 234);
  font-family: 'Roboto', sans-serif;
}

.a {
  text-decoration: none;
  color: black;
}

/* TOOLTIP STYLES */
.custom-class {
  background-color: #FFDF7F;
  color: black;
}

.tippy-arrow {
  color: #FFDF7F;
}
