.intro__title {
  max-width: 30rem;
  font-size: 1rem;
}

.parallax {
   /* The image used */
   background-image: url(../../../assets/5765758650_fe02097df5_o.jpg);

   /* Set a specific height */
   min-height: 500px;

   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.titles {
  font-weight: 200;
}
 article {
  --bs-bg-opacity: .75;
 }

.midParallax {
  height: 1000px;
  background-color: rgba(184, 184, 184, 0.132);
}

.cardContainer {
  max-width: 25rem;
  max-height: 25rem;
  --bs-bg-opacity: .75;
}

.cardContainerMidParallax {
  --bs-bg-opacity: .5;
}

.card-header {
  background-color: transparent;
}

.card-footer {
  background-color: transparent;
}

.card-title{
  font-weight: 400;
}

.sectionView {
  min-height: 100vh;
}

/* FOR TABLET */
@media screen and (max-width: 780px) {
  #parallaxJob {
    min-height: 1100px;
  }
}

/* FOR MOBILE */
@media screen and (max-width: 480px) {
  .parallax {
    min-height: 1500px;
  }
  #parallaxJob{
    min-height: 1800px;
  }
  .cardContainer {
    max-height: 38rem;
  }
}
