<div class="h-100">
  <section class="p-5 d-flex flex-column justify-content-center align-items-center m-auto intro__title vh-100">
    <h5>¡Hola, soy Alberto!</h5>
    <p class="text-center">Diseñador industrial en plena reconversión al sector tecnológico como Full Stack Developer. Inquieto sin remedio, constantemente descubriendo nuevas cosas.
      <br>
      En esta reorientación busco conjugar en sincronía mis estudios con un matiz creativo, mi experiencia en la resolución de problemas y mejora continúa con una nueva oportunidad para aprender y crecer, ayudando y mejorando.</p>
  </section>
  <section class="row justify-content-center parallax vh-100 p-5">
    <br>
    <h5 class="text-center m-auto">¿Qué es lo último que he estudiado?</h5>
    <article class="col-12 col-xl-5 p-0 card text-center m-2">
      <div class="card-header bg-warning">
        UNIR
      </div>
      <div class="card-body">
        <h5 class="card-title">Máster Full Stack Developer</h5>
        <p class="card-text">He tenido la oportunidad en este Máster de aprender un framwework de front como Angular de la mano del uso de Bootstrap y SASS. Por otro lado hemos trabajado en la gestión de BBDD con MySQL y MongoDB.</p>
      </div>
      <div class="card-footer text-body-secondary bg-warning">
        2023
      </div>
    </article>
    <article class="col-12 col-xl-5 p-0 card text-center m-2">
      <div class="card-header bg-warning">
        FACTORÍA F5
      </div>
      <div class="card-body">
        <h5 class="card-title">Bootcamp Full Stack Developer 850h</h5>
        <p class="card-text">En Factoria F5 he aprendido en base a metodologías ágiles simulando proyectos reales de desarrollo Web y test. En un marco Scrum y trabajando con diferentes equipos. Aprendiendo y trabajando en Vue3 y Java, SpringBoot y MySQL.</p>
      </div>
      <div class="card-footer text-body-secondary bg-warning">
        2023
      </div>
    </article>
  </section>
  <section class="row justify-content-center vh-100 p-5">
    <h5 class="text-center m-auto">Pero...¿de dónde vengo?</h5>
    <article class="col-12 col-xl-5 p-0 card text-center m-2">
      <div class="card-header bg-warning">
        Escuela Superior de Arte de Asturias
      </div>
      <div class="card-body">
        <h5 class="card-title">Grado en Diseño de Producto</h5>
      </div>
      <div class="card-footer text-body-secondary bg-warning">
        2023
      </div>
    </article>
  </section>
  <section class="row justify-content-center vh-100 p-5 parallax">
    <h5 class="text-center m-auto">He tenido grandes oportunidades:</h5>
    <article class="col-12 col-xl-5 p-0 card text-center m-2">
      <div class="card-header bg-warning">
        Align Technology Inc.
      </div>
      <div class="card-body">
        <h5 class="card-title">Sr. Specialist CAD Designer</h5>
        <p class="card-text">En Align tuve la oportunidad de gestionar un equipo de 50 personas en ambiente de alta producción, pudiendo evolucionar y promocionar en diferentes puestos. Organizando el trabajo basado en objetivos y medidores, dependiendo de la situación diaria de inventario. Solución de problemas, toma de decisiones y mejora continua.</p>
      </div>
      <div class="card-footer text-body-secondary bg-warning">
        2018-22
      </div>
    </article>
    <article class="col-12 col-xl-5 p-0 card text-center m-2">
      <div class="card-header bg-warning">
        MyL Ideas
      </div>
      <div class="card-body">
        <h5 class="card-title">Responsable de Producción</h5>
        <p class="card-text">Control de proyectos artísticos enmarcados en el marketing y comunicación audiovisual. Gestión de un grupo de 15 personas, tiempos de producción y calidad del resultado. Búsqueda de nuevos procesos productivos y materiales.</p>
      </div>
      <div class="card-footer text-body-secondary bg-warning">
        2022-23
      </div>
    </article>
  </section>
</div>
